<h2>Your recipe</h2>

<% if @search_recipe_data.first %>
  <h1><%= @search_recipe_data.first[:name] %></h1>
  <p>Category: <%= @search_recipe_data.first[:category] %></p>
  <%= image_tag @search_recipe_data.first[:photo], alt: @search_recipe_data.first[:name] %>
<% else %>
  <p>No recipe found.</p>
<% end %>
