<h1>Your Favourite Recipes</h1>

<% @favourite_recipes.each do |favourite| %>
  <h1><%= favourite.recipe.title %></h1>
<% end %>

<%# <div class="user-rating-value"> %>
  <%# <% if @average_rating %> %>
    <%# <p>Your Rating: <%= "⭐️" * ((@average_rating * 2).round / 2.0) %></p> %>
  <%# <% end %> %>
<%# </div> %>
