<h1>Homepage</h1>
  <%= form_with(url: search_path, method: "get", local: true) do |form| %>
    <%= form.text_field :query, placeholder: "Search Recipe" %>
    <%= form.button type: "submit" do %>
    <% end %>
  <% end %>
