<h2>Latest Recipes</h2>

<% @meal_data.each do |meal| %>
  <%= link_to recipe_path(meal[:id]) do %>
    <%= image_tag meal[:photo], alt: meal[:name] %>
  <% end %>
  <h2><%= meal[:name] %></h2>
  <p><%= meal[:category] %></p>
<% end %>

<h2>Trending Categories</h2>
<h2>Explore More</h2>
