$container-width: 1300px;

.categories-container {
  width: $container-width;
  margin: 40px auto;

  .category-search-results-number {
    font-weight: bold;
    margin-top: 30px;

    .border {
      border-bottom: 2px solid black;
      width: 50%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    span {
      display: inline-block;
      margin-bottom: 25px;
    }
  }

  .latest-categories {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
    flex-wrap: wrap;

    .small-category-card {
      height: 230px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.22);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 0;
      background-position: center;
      background-size: cover;
      flex-direction: column;
      position: relative;
      width: 22%;

      .icons {
        position: absolute;
        top: 15px;
        right: 15px;

        .fas.fa-heart {
          color: white;
        }

        .fas.fa-heart.clicked {
          color: red;
        }
      }

      .text {
        padding: 15px;
        z-index: 2;
        text-shadow: 2px 2px 10px black;
        text-align: center;
        white-space: normal;
        word-wrap: break-word;

        h2 {
          color: white;
        }
      }

      .rating-info {
        position: absolute;
        bottom: 14px;
        left: 36px;
      }

      span {
        color: white;
        font-weight: bold;
      }

      .gold-star {
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
    }
  }
}
