.container {
  width: 1300px;
  margin: 0 auto;
}

.latest-recipes {
 display: flex;
 gap: 20px;
 height: 500px;
 justify-content: center;
}

.two-card-recipe {
  display: flex;
  flex-direction: column;
  margin-top: 20px 0;
  height: 460px;
  width: 30%;
  margin: 20px 0;
  gap: 15px;
}

.explore-more {
  display: flex;
}

/*@media (max-width: 1300px){
  .container {
    width: 90%;
  }
}*/

.show-container {
  display: flex;
}

.ingredients-measures-tables {
  display: flex;
}

.recipe-ingredients-show, .recipe-measures-show {
  width: 50%;
}

.recipe-ingredients-show li, .recipe-measures-show li {
  list-style: none;
  text-align: center;
}

.recipe-ingredients-show ul, .recipe-measures-show ul {
  padding-left: 0;
}

.recipe-ingredients-show p, .recipe-measures-show p {
  text-align: center;
}

.recipe-instructions-show {
  padding: 20px;
  height: 50%;
}

.recipe-instructions-show p {
  margin-top: 40px;
}

.show-container, .recipe-show-details {
  border: 1px solid black;
  border-radius: 5px;
}
