.container {
  width: 1300px;
  margin: 0 auto;
}

.latest-recipes {
 display: flex;
 gap: 20px;
 height: 500px;
 justify-content: center;
}

.two-card-recipe {
  display: flex;
  flex-direction: column;
  margin-top: 20px 0;
  height: 460px;
  width: 30%;
  margin: 20px 0;
  gap: 15px;
}

.explore-more {
  display: flex;
}

/*@media (max-width: 1300px){
  .container {
    width: 90%;
  }
}*/
