.search-results {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 50px;

  .recipe-card.search {
    width: 25%;
    padding: 30px;
  }

  span {
    color: white;
    font-weight: bold;
  }
}

.search-results-number {
  font-weight: bold;
  margin-top: 30px;

  span {
    display: inline-block;
    margin-bottom: 25px;
  }
}

.rating-info {
  position: absolute;
  bottom: 14px;
  left: 36px;
}

.gold-star {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
