.star-buttons-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.star-button {
  width: auto;
  height: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.star-button::before {
  content: "\2605";
  font-size: 24px;
  color: #888;
  cursor: pointer;
}

.star-button:hover::before {
  color: gold;
}

.star-button:hover ~ .star-button::before {
  color: gold;
}

.gold-star::before {
  color: gold;
}

.gold-star:hover::before {
  color: gold;
}
