$container-width: 1300px;

.container {
  width: $container-width;
  margin: 0 auto;

  /*@media (max-width: $container-width){
    width: 90%;
  }*/

  .search-results-number {
    font-weight: bold;
    margin-top: 30px;

    span {
      display: inline-block;
      margin-bottom: 25px;
    }
  }

  .latest-recipes {
    display: flex;
    gap: 20px;
    height: 500px;
    justify-content: center;

    .search-results {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      flex-wrap: wrap;
      gap: 50px;

      .recipe-card.search {
        width: 25%;
        padding: 30px;
      }

      span {
        color: white;
        font-weight: bold;
      }

      .gold-star {
        position: absolute;
        bottom: 10px;
        left: 10px;
      }

      .rating-info {
        position: absolute;
        bottom: 14px;
        left: 36px;
      }
    }
  }

  .two-card-recipe {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    height: 460px;
    width: 30%;
    gap: 15px;
  }

  .explore-more {
    display: flex;
  }
}
