<h2><%= @category.capitalize %> Recipes</h2>

<% if @category_data %>
  <% @category_data.each do |category| %>
    <%= link_to recipe_path(category[:id]) do %>
      <%= image_tag category[:photo], alt: category[:name] %>
    <% end %>
    <p>Name: <%= category[:name] %></p>
  <% end %>
<% end %>
